.guides {
  margin-bottom: 40px; }
  .guides h2 {
    display: block;
    border-bottom: 2px dotted #663399;
    margin: auto 0;
    margin-bottom: 40px;
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 5.5rem; }
    .guides h3 {
      border-top: 1px dotted #ccc;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 3.5rem; }

ul.side-nav {
  list-style: none; }
  ul.side-nav li a {
    color: #663399;
    font-size: 20px; }
    ul.side-nav li ul {
      list-style: none;
      margin-left: 20px; }
      ul.side-nav li ul li a {
        font-size: 20px;
        color: #606c76; }
