  .doc {
    margin-bottom: 40px;
  }
  .doc h2 {
    display: block;
    border-bottom: 2px dotted #663399;
    margin: auto 0;
    margin-bottom: 40px;
    font-weight: bold;
    padding-bottom: 10px;
  }
  ul.side-menu {
    list-style: none;
  }
  ul.side-menu li a {
    color: #663399;
    font-size: 22px;
  }

  ul.side-menu li ul {
    list-style: none;
  }
  ul.side-menu li ul li a {
    font-size: 20px;
  }
